.color-fondo-banner{
    background-color: #57dd00;
}

.color-letras-banner{
    color:white;
}

.efecto-seleccion-producto:hover{
    background-color:#dcf0c4;
    padding-bottom:0.75rem;
    cursor: pointer;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}

.img-tamanio{
    max-height: 17rem !important;
}